.firstNumDiv {
    margin-bottom: 10px;
    font-family: Arial;
    text-align: center;
}

.operatorDiv {
    margin-bottom: 10px;
    font-family: Arial;
    text-align: center;
}

.secondNumDiv {
    margin-bottom: 10px;
    font-family: Arial;
    text-align: center;
}

.button {
    font-family: Arial;
    font-size: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    border-width: 1.8px;
    border-color: rgb(91, 91, 91);
    left: 50%;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 16px;
    transition: background-color 0.1s;
}

.button:hover {
    background-color: rgb(224, 224, 224);
}

.summaryText {
    text-align: center;
    margin-top: 54px;
}

.Inputs {
    border-radius: 4px;
}

body {
    background-image: linear-gradient(90deg, red, orange);
}

.everything {
    transform: scale(180%);
    margin-top: 400px;
    align-items: center;
}

.headlineText {
    font-size: 30px;
    margin: 0;
    margin-bottom: 8px;
}   